* {
    font-family: Arial, sans-serif;

} 

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#góra {
    width: 100%;
    float: left;
    display: flex;
    background-color: black;
    color: white;
    text-align: center;

}
#logo {
    height: 160px;
    width: 30%;
    
    float: left;
}
#reklama {
    height: 160px;
    width: 60%;
   
    float: left;
}
#koszyk {
    height: 160px;
    width: 10%;
 
    float: right;
}
#środek {
    width: 100%;
    float: left;
    display: flex;
}
#lewa {
width: 15%;
min-height:500px;
height: auto;
background-color: rgb(100, 149, 237);
float: left;
}
#main {
width: 85%;
min-height: 150px;
float: right;
height: 100vh; 
overflow-y: auto; 
}
#footer {
width: 100%;
height: 130px;
background-color: cornflowerblue;
float: right;
}

#lewa a {
    display: block;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
#lewa a:hover {
    background-color:  rgb(74, 130, 233);
}
